// https://coolors.co/386150-242f40-f2a541-ffeedb-c62d44
// https://dribbble.com/shots/4213617-Sign-up-UI

@import './styles/variables';
@import './styles/base_element';

html,body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:$secondary-color;
  color:$primary-color;
  height:100%
}

.app-container{
  padding: 40px
}

.app-landing-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.app-landing-content{
  display: grid;

  .app-menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 24px;
  
    .app-icon{
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      grid-column: 1/2;
    }
  }
}

.app-landing{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height:calc(100vh - 10rem);

  .app-description{
    width: 280px;
    text-transform: capitalize;
    font-size: 41px;
    font-weight: 500;
    line-height: initial;
    

    .app-inner-description{
      color: #757575;
      margin-top: 10px;
      text-transform: capitalize;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.right-container{ 
  grid-column: 3/-1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .menu{
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding:0 20px;
  }

  .right-menu-icon{
    display: none;
  }
}

.app-signon-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7.5rem;

  &.smaller-res{
    display: none;
  }

}

.sign-on-segment{
  background-color: darken($secondary-color,2%);
  flex:.8;
  padding:20px;
}

.sign-on-options-container{
  margin-bottom: 40px;
}

.primary-link{
  color:lighten($primary-color, 20%);
  font-size: 16px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
  &:hover{
    color:darken($primary-color, 20%);
    text-decoration: underline;
  }
}

@media screen and (max-width: 860px){
  .app-signon-container{
    &.bigger-res{
      display: none;
    }

    &.smaller-res{
      display: block;
      margin-bottom: 30px;
      padding-top: unset;
    }
  }

  .app-menu{
    margin-bottom: 50px;
  }

  .app-landing-content{
    .app-landing{
      height: unset;
    }
  } 

  .app-landing-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  .right-container{
    align-items: flex-start;

    .right-menu-icon{
      display: block;
    }

    .menu{
      display: none;
    }
  }
  
}
